
.display{
    box-sizing: border-box;
    border:1px solid black;
    font-family: 'Segoe UI';
    font-weight: bold;
    
    /* height: 60px; */
    min-height: 30px;
    background-color:darkgray;
    word-break: break-all;
    /* border-radius: 10%; */
    /* overflow:hidden; */
}
.btn{
    border-radius: 10%;
    box-sizing: border-box;
    /* padding:5%; */
    display: inline-block;
    background-color:white;
    /* height: 15%; */
    border:1px solid black;
}
.operator{
    background-color:orangered;
    color:white;
}
.number:hover{
    background-color: #f1f1f1;
}
.operator:hover{
    background-color: orangered;
    opacity: 0.8;
}